/* body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    background-color: rgb(165, 154, 51);
  } */
  .container{
    height: 630px;
    background-color: rgb(165, 154, 51);
  }