

.body {
	text-align: center;
	background-color: #CDAA64;
    align-items: center;
}

.form{
    background: #524400;
    height: 110vh;
    width: 21vw;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    
    margin-left: 160%;
    border-radius: 15px;
}

.form h1{
    font-size: 22px;
    text-align: center;
}

.label {
	display: block;
	font-size: larger;
	color: white;
	padding: 5px;
    margin-top: 10px;
    width: 18.8vw;
}

.input {
	font-size: larger;
	padding: 5px;
	margin: 2px;

}

.btn {
	color: white;
	background-color: #CDAA64;
	border-radius: 5px;
	font-size: larger;
	display: block;
	padding: 5px;
	margin: 10px auto;
}

.messages {
	display: flex;
	justify-content: center;
}

h3{
    font-size: 18px;
    width: 25vw;
    text-align: center;
}

.error {
	display: block;
	background-color: red;
	color: white;
	width: fit-content;
	height: 40px;
	padding: 5px;
    margin-right: 20px;
    border-radius: 15px;
}

.success {
	display: block;
	background-color: green;
	color: white;
	width: fit-content;
	height: 40px;
	padding: 5px;
    margin-right: 20px;
    border-radius: 15px;
} 

.signin_option{
    text-align: center;
    padding-top: 20px;

}

.signin {
    color: #255505 !important;
    border-radius: 16px;
  }

.signin :hover {
    background-color: #615408;
    border-radius: 16px;

  }
